.simplePDF_container {
  user-select: none;
  position: fixed;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100%;
  z-index: 999999;
  padding: 20px;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}

.simplePDF_content {
  width: 94vw;
  height: 94vh;
  position: relative;
  box-sizing: border-box;
}

.simplePDF_iframeContainer {
  overflow: hidden;
  background: #f1f7ff;
  border-radius: 6px;
  width: 100%;
  height: 100%;
}

.simplePDF_iframe {
  border: none;
  border-radius: 6px;
  width: 100%;
  height: 100%;
}

.simplePDF_close {
  z-index: 1;
  position: absolute;
  top: -12px;
  right: -12px;

  border: none;
  padding: 6px;
  border-radius: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 1px 2px rgb(0 0 0 / 24%);

  cursor: pointer;
  background: #ff5959;
  text-shadow: 1px 1px #243889;

  svg {
    fill: white;
    width: 14px;
    height: 14px;
  }

  &:hover {
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 4px 4px rgb(0 0 0 / 24%);
  }
}
