{
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "parser": "typescript",
  "overrides": [
    {
      "files": "*.css",
      "options": {
        "parser": "css"
      }
    },
    {
     "files": "*.scss",
     "options": {
       "parser": "scss"
     }
   },
    {
      "files": "*.json",
      "options": {
        "parser": "json"
      }
    }
  ]
 }